# CognoDB connection details.
# After creating a free (c0) instance at https://console.cognodb.com,
# you'll get a URI like: bolt+s://<instance-id>.databases.cognodb.cloud
COGNODB_URI=bolt+s://<instance-id>.databases.cognodb.cloud
COGNODB_USER=cognodb
COGNODB_PASSWORD=<paste-the-password-shown-once-during-provisioning>

# Port the Express server listens on
PORT=3000
